/* body {
  background-color: black;
  color: white;
}

input {
  background-color: black;
  color: white;
} */

body,
input {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#addTask,
#taskBoard {
  border: 1px solid gray;
}

#submitTask {
  margin-top: 10px;
  background-color: blue;
}

/* header {
  text-align: center;
}

footer {
  text-align: center;
} */
